@model IEnumerable<Parking.Models.VehicleRegistration>

@{
    ViewData["Title"] = "Vehicle Registrations";
}

<h1 class="my-4">Vehicle Registrations</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Vehicle Registration</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>License Plate</th>
            <th>Enter</th>
            <th>Exit</th>
            <th>Amount Charged</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.LicensePlate</td>
                <td>@item.Enter.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.Exit?.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.AmountCharged?.ToString("C")</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-sm btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
